# Yarn
node_modules
yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# IDE
.vscode

# Build
/plugin
/react
/shared
/*.js
/*.map
/*.d.ts

# Other
TODO.md
